#trigger {

}

div.hidden {
     display:none; 
     font-size: 2rem;
    }

/* Target the hidden div when the target div is being hovered over */
#trigger:hover + div.hidden {
    display:block;
   }

#trigger-interior {

}

div.hidden-interior {
    display:none; 
    font-size: 2rem;
}

#trigger-interior:hover + div.hidden-interior {
    display:block;

}

#trigger-engine {

}

div.hidden-engine {
    display:none; 
    font-size: 2rem;
}

#trigger-engine:hover + div.hidden-engine {
    display:block;

}

#trigger-performance {

}

div.hidden-performance {
    display:none; 
    font-size: 2rem;
}

#trigger-performance:hover + div.hidden-performance {
    display:block;

}