#page-catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ellipse-green {
      position: absolute;
      z-index: 0;
      width: 100rem;
      left: 0;
      top: 0;
    }
    .ellipse-blue {
      position: absolute;
      width: 150rem;
      z-index: 0;
      right: 0;
      bottom: 0;
    }

    h1 {
      color: #505d68;
      font-size: 3rem;
      padding: 2rem 0;
    }

    .container {
      max-width: 100vw;
      padding: 0 10%;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      .gallery {
        height: 26rem;
        width: 26rem;
        background-color: #8db3d9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        .checkmark {
          position: absolute;
          top: 1rem;
          right: 1rem;
          width: 3rem;
          height: 3rem;
          border-radius: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background-color: #cee7ff;
        }
        a {
          img {
            height: 12rem;
          }
        }
        .name {
          background-color: #629bd3;
          color: #fff;
          text-align: center;
          padding: 1rem 1rem;
        }
        .price-btn-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 1rem;
          .price {
            color: #f7f7f7;
            font-size: 2rem;
            margin-bottom: -1rem;
            margin-right: 1rem;
          }
          button {
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }