<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<canvas id="carData" style="width:100%;max-width:600px"></canvas>

<script>
    var xValues = [];
    var yValues = [];
    const input = {
        "installments": [{
            "capital": 270.79,
            "interest": 14.5,
            "installment": 285.29,
            "remain": 9729.21,
            "interestSum": 14.5
        }, {
            "capital": 271.18,
            "interest": 14.11,
            "installment": 285.29,
            "remain": 9458.029999999999,
            "interestSum": 28.61
        }, {
            "capital": 271.58000000000004,
            "interest": 13.71,
            "installment": 285.29,
            "remain": 9186.45,
            "interestSum": 42.32
        }, {
            "capital": 271.97,
            "interest": 13.32,
            "installment": 285.29,
            "remain": 8914.480000000001,
            "interestSum": 55.64
        }, {
            "capital": 272.36,
            "interest": 12.93,
            "installment": 285.29,
            "remain": 8642.119999999999,
            "interestSum": 68.57
        }, {
            "capital": 272.76000000000005,
            "interest": 12.53,
            "installment": 285.29,
            "remain": 8369.359999999999,
            "interestSum": 81.1
        }, {
            "capital": 273.15000000000003,
            "interest": 12.14,
            "installment": 285.29,
            "remain": 8096.210000000001,
            "interestSum": 93.24
        }, {
            "capital": 273.55,
            "interest": 11.74,
            "installment": 285.29,
            "remain": 7822.66,
            "interestSum": 104.97999999999999
        }, {
            "capital": 273.95000000000005,
            "interest": 11.34,
            "installment": 285.29,
            "remain": 7548.71,
            "interestSum": 116.32
        }, {
            "capital": 274.34000000000003,
            "interest": 10.95,
            "installment": 285.29,
            "remain": 7274.37,
            "interestSum": 127.27
        }, {
            "capital": 274.74,
            "interest": 10.55,
            "installment": 285.29,
            "remain": 6999.63,
            "interestSum": 137.82
        }, {
            "capital": 275.14000000000004,
            "interest": 10.15,
            "installment": 285.29,
            "remain": 6724.49,
            "interestSum": 147.97
        }, {
            "capital": 275.54,
            "interest": 9.75,
            "installment": 285.29,
            "remain": 6448.95,
            "interestSum": 157.72
        }, {
            "capital": 275.94,
            "interest": 9.35,
            "installment": 285.29,
            "remain": 6173.010000000001,
            "interestSum": 167.07
        }, {
            "capital": 276.34000000000003,
            "interest": 8.95,
            "installment": 285.29,
            "remain": 5896.67,
            "interestSum": 176.01999999999998
        }, {
            "capital": 276.74,
            "interest": 8.55,
            "installment": 285.29,
            "remain": 5619.93,
            "interestSum": 184.57
        }, {
            "capital": 277.14000000000004,
            "interest": 8.15,
            "installment": 285.29,
            "remain": 5342.79,
            "interestSum": 192.72
        }, {
            "capital": 277.54,
            "interest": 7.75,
            "installment": 285.29,
            "remain": 5065.25,
            "interestSum": 200.47
        }, {
            "capital": 277.95000000000005,
            "interest": 7.34,
            "installment": 285.29,
            "remain": 4787.3,
            "interestSum": 207.81
        }, {
            "capital": 278.35,
            "interest": 6.94,
            "installment": 285.29,
            "remain": 4508.95,
            "interestSum": 214.75
        }, {
            "capital": 278.75,
            "interest": 6.54,
            "installment": 285.29,
            "remain": 4230.2,
            "interestSum": 221.29
        }, {
            "capital": 279.16,
            "interest": 6.13,
            "installment": 285.29,
            "remain": 3951.04,
            "interestSum": 227.42
        }, {
            "capital": 279.56,
            "interest": 5.73,
            "installment": 285.29,
            "remain": 3671.48,
            "interestSum": 233.14999999999998
        }, {
            "capital": 279.97,
            "interest": 5.32,
            "installment": 285.29,
            "remain": 3391.5099999999993,
            "interestSum": 238.46999999999997
        }, {
            "capital": 280.37,
            "interest": 4.92,
            "installment": 285.29,
            "remain": 3111.1399999999994,
            "interestSum": 243.38999999999996
        }, {
            "capital": 280.78000000000003,
            "interest": 4.51,
            "installment": 285.29,
            "remain": 2830.359999999999,
            "interestSum": 247.89999999999995
        }, {
            "capital": 281.19,
            "interest": 4.1,
            "installment": 285.29,
            "remain": 2549.1699999999996,
            "interestSum": 251.99999999999994
        }, {
            "capital": 281.59000000000003,
            "interest": 3.7,
            "installment": 285.29,
            "remain": 2267.58,
            "interestSum": 255.69999999999993
        }, {
            "capital": 282,
            "interest": 3.29,
            "installment": 285.29,
            "remain": 1985.58,
            "interestSum": 258.98999999999995
        }, {
            "capital": 282.41,
            "interest": 2.88,
            "installment": 285.29,
            "remain": 1703.1699999999998,
            "interestSum": 261.86999999999995
        }, {
            "capital": 282.82,
            "interest": 2.47,
            "installment": 285.29,
            "remain": 1420.3500000000001,
            "interestSum": 264.34
        }, {
            "capital": 283.23,
            "interest": 2.06,
            "installment": 285.29,
            "remain": 1137.1200000000003,
            "interestSum": 266.4
        }, {
            "capital": 283.64000000000004,
            "interest": 1.65,
            "installment": 285.29,
            "remain": 853.4800000000007,
            "interestSum": 268.04999999999995
        }, {
            "capital": 284.05,
            "interest": 1.24,
            "installment": 285.29,
            "remain": 569.4300000000014,
            "interestSum": 269.28999999999996
        }, {
            "capital": 284.46000000000004,
            "interest": 0.83,
            "installment": 285.29,
            "remain": 284.9700000000021,
            "interestSum": 270.11999999999995
        }, {"capital": 284.88, "interest": 0.41, "installment": 285.29, "remain": 0, "interestSum": 270.53}],
        "amount": 10000,
        "interestSum": 270.53,
        "capitalSum": 10000,
        "sum": 10270.53,
        "interestRate": 1.74,
        "term": "36"
    };
    const num_installments = input["installments"].length //Object.keys(input)[0].length
    console.log(num_installments)
    const installments = input["installments"][0]["capital"]
    console.log(installments)
    for(let i = 1; i <= num_installments; i++){
        xValues.push(i);
    }
    for (let i = 0; i < num_installments; i++){
        yValues.push(input["installments"][i]["capital"]);
        console.log(input["installments"][i]["capital"]);
    }
    console.log(yValues);
    console.log(xValues);
    console.log(yValues.length);

    new Chart("carData", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{ticks: {min: yValues[0], max:yValues[yValues.length -1]}}],
            }
        }
    });
</script>

</body>
</html>
