html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.page {
  width: 100%;
  height: 100%;
  &-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    nav {
      width: 100%;
      height: 6rem;
      padding: 0 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 3;
      .left {
        img {
          width: 7rem;
        }
      }
      .mid {
        a {
          margin: 2rem;
        }
      }
      .right {
        a {
          margin: 2rem;
        }
      }
    }
    .wrapper {
      width: 100%;
      padding: 8rem 8rem;
      display: flex;
      flex-direction: column;
      z-index: 3;
      h1 {
        font-size: 4rem;
        width: 30rem;
        span.highlight {
          color: rgb(79, 179, 179);
        }
      }
      p {
        padding: 2rem 0 0 0;
        font-size: 1.5rem;
        width: 40rem;
      }
      .email-box {
        width: 40rem;
        display: flex;
        align-items: center;
        margin: 4rem 0;
        justify-content: center;
        input {
          margin-right: 1rem;
        }
      }
      .stats {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80rem;
        &-box {
          width: 30rem;
          display: flex;
          align-items: center;
          &-text {
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 2.6rem;
            }
          }
          img {
            height: 4rem;
            margin-right: 1rem;
          }
        }
      }
      .main-img {
        position: absolute;
        // width: rem;
        height: 50rem;
        top: 4rem;
        right: 0;
      }
    }
    .bg {
      position: absolute;
      z-index: 2;
      &-top {
        top: 0;
        right: 0;
        width: 80rem;
      }
      &-left {
        top: 0;
        left: 0;
        width: 40rem;
      }
      &-right {
        top: 0;
        right: 0;
        width: 80rem;
      }
    }
  }

  &-login-signup {
    display: flex;
    background-color: rgb(79, 179, 179);
    .left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      h1 {
        font-size: 4rem;
        padding: 5rem 5rem 2rem 6rem;
        width: 40rem;
      }
    }
    .right {
      width: 60%;
      height: 100%;
      background-color: #fff;
      border-radius: 2rem 0 0 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 2rem;
          padding-bottom: 2rem;
        }
        input {
          width: 30rem;
          height: 2rem;
          margin-bottom: 2rem;
        }
        button {
          margin-bottom: 2rem;
        }
        .left-text {
          align-self: flex-start;
        }
      }
    }
  }

  &-finance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      padding-bottom: 1rem;
    }

    button {
      text-decoration: none !important;
      border-radius: 30px;
      background: #6edbdb;
      transition: all 0.3s linear;
      padding: 12px 14px;
      display: block;
      border: 0;
      margin-top: 1rem;
    }

    button:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }

    .ellipse-green {
      position: absolute;
      z-index: 0;
      width: 70rem;
      left: 0;
      top: 0;
    }
    .ellipse-blue {
      position: absolute;
      z-index: 0;
      width: 70rem;
      right: 0;
      bottom: 0;
    }
  }
}
