html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

button {
  text-decoration: none !important;
  border-radius: 30px;
  background: #6edbdb;
  transition: all 0.3s linear;
  padding: 12px 14px;
  display: block;
  border: 0;
  margin-top: 1rem;
  z-index: 3;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.rightcolumn {
  float: right;
  width: 45%;
}
.leftcolumn {
  float: left;
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Set the information of the containers */
.graphContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  max-width: 80%;
  min-width:800px;
  max-height: 40%;
  min-height: 300px;
  padding: 30px;
  width: 100%;
  padding: 8rem 20rem;
  display: flex;
  flex-direction: column;
  z-index: 3;
  h1 {
    text-align: center;
    font-size: 4rem;
    width: 30rem;
    span.highlight {
      color: rgb(79, 179, 179);
    }
  }
  p {
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
    width: 40rem;
  }
}

.section-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

instruction-container {
  left: 0;
  width: 50%;
  z-index: 2;

}

.rightcolumn {
  float: right;
  width: 45%;
}
.leftcolumn {
  float: left;
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Set the information of the containers */
.graphContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  max-width: 80%;
  min-width:800px;
  max-height: 40%;
  min-height: 300px;
  padding: 30px;
  width: 100%;
  padding: 8rem 20rem;
  display: flex;
  flex-direction: column;
  z-index: 3;
  h1 {
    text-align: center;
    font-size: 4rem;
    width: 30rem;
    span.highlight {
      color: rgb(79, 179, 179);
    }
  }
  p {
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
    width: 40rem;
  }
}

.section-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

instruction-container {
  left: 0;
  width: 50%;
  z-index: 2;

}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  height: 100%;
  @mixin blue-btn {
    padding: 1.6rem 4rem;
    background-color: #0a1053;
    color: #fff;
    font-size: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &#page-home {
    overflow: auto auto !important;
    display: flex;
    flex-direction: column;
    position: relative;
    .bg {
      width: 98vw;
      height: 100%;
      > img {
        position: absolute;
        z-index: 0;
      }
      .top {
        top: 0;
        right: 0;
        width: 80%;
      }
      .right {
        top: 0;
        right: 0;
        height: 100%;
      }
      .left {
        top: 0;
        left: 0;
        height: 100%;
      }
    }
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 8rem;
      z-index: 1;
      .logo-btn {
        img {
          width: 12rem;
        }
      }
      nav {
        a {
          font-size: 2rem;
          margin: 0 5rem;
          color: #0a1053;
        }
      }
      .cta-btn {
        @include blue-btn;
      }
    }
    .chunk {
      width: 100%;
      display: flex;
      z-index: 1;
      &-0 {
        height: 80rem;
        margin-top: 4rem;
        .left {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h1 {
            font-size: 7rem;
            width: 60rem;
            margin-left: 10rem;
            span {
              color: #27ca93;
            }
          }
          p {
            font-size: 1.85rem;
            width: 50rem;
            margin-top: 2rem;
          }
          .email-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            input {
              width: 30rem;
              height: 5rem;
              border-radius: 1rem;
              margin-right: 3rem;
              margin-bottom: -1rem;
            }
            button {
              @include blue-btn;
              font-size: 1.8rem;
            }
          }
          .stats {
            display: flex;
            width: 80%;
            margin: 8rem 0 0 16rem;
            .stat {
              display: flex;
              align-items: center;
              &:not(:first-child) {
                margin-left: -20rem;
              }
              img {
                height: 8rem;
              }
              &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1.5rem;
                h2 {
                  font-size: 3rem;
                }
                p {
                  font-size: 1.6rem;
                  color: #777;
                  margin-top: -0rem;
                }
              }
            }
          }
        }
        .hand {
          position: absolute;
          top: 12rem;
          right: 10rem;
          width: 80rem;
        }
      }
      &-1 {
        margin-top: 13rem;
        height: 56rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          height: 100%;
        }
        .text-container {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 12%;
          h3 {
            font-size: 3.6rem;
            text-align: center;
            width: 80%;
            font-weight: 400;
            b {
              font-weight: 800;
            }
          }
          p {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 2rem;
            line-height: 3.6rem;
          }
          a {
            @include blue-btn;
            margin-top: 1rem;
          }
        }
      }
      &-2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        margin-top: 4rem;
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1.8rem;
          width: 60%;
          text-align: center;
          margin-top: 2rem;
          line-height: 3.6rem;
        }
      }
      &-3 {
        height: 50rem;
        align-items: center;
        justify-content: center;
        gap: 10rem;
        margin-top: 4rem;
        .card {
          height: 100%;
          width: 30rem;
          padding: 1rem;
          border-radius: 1rem;
          box-shadow: 0.5rem 0.5rem 0.6rem 0.2rem rgba(#000, 0.4);
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          .big-num {
            position: absolute;
            font-size: 23rem;
            bottom: -3rem;
            left: 0;
            color: #99adb8;
            z-index: 2;
            opacity: 0.5;
          }
          img {
            height: 60%;
            max-width: 100%;
            border-radius: 1rem;
            // align-self: center;
            z-index: 1;
          }
          h3 {
            font-size: 2.3rem;
            text-align: end;
            padding-right: 1rem;
            color: #505d68;
            z-index: 3;
          }
          p {
            font-size: 1.8rem;
            text-align: end;
            padding-right: 1rem;
            color: #8f8f8f;
            z-index: 3;
          }
        }
      }
      &-4 {
        align-items: center;
        justify-content: space-between;
        margin-top: 7rem;
        .left {
          width: 60%;
          padding-left: 10%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 3.5rem;
            font-weight: 600;
            b {
              font-weight: 800;
            }
          }
          p {
            font-size: 1.8rem;
            margin-top: 1rem;
            line-height: 2.8rem;
            width: 70%;
            text-align: center;
          }
          .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            margin-top: 4rem;
            .card {
              display: flex;
              flex-direction: column;
              .row {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img {
                  height: 3rem;
                }
                h3 {
                  margin-left: 2rem;
                  font-size: 2rem;
                  font-weight: 900;
                }
              }
              p {
                text-align: start;
                color: #999;
              }
            }
          }
        }
        img {
          height: 100%;
        }
      }
      &-5 {
        margin-top: 10rem;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        img {
          width: 3.5rem;
        }
        p {
          font-size: 3rem;
          color: #2aca95;
        }
      }
      &-footer {
        position: relative;
        min-height: 50rem;
        .bg {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        .left {
          display: flex;
          flex-direction: column;
          width: 50%;
          align-items: center;
          justify-content: center;
          z-index: 2;
          padding-top: 5rem;
          h2 {
            font-size: 2.2rem;
            color: white;
          }
          p {
            margin-top: 1rem;
            line-height: 3rem;
            color: #cdcdcd;
            text-align: center;
            font-size: 1.6rem;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          z-index: 2;
          gap: 2rem;
          padding-top: 3rem;
          .item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            a {
              color: #e7e7e7;
              font-size: 1.6rem;

              // color: white;
            }
          }
        }
      }
    }
  }

  &-finance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      padding-bottom: 1rem;
    }

    p {
      font-size: 2rem;
    }

    input {
      margin-bottom: 2rem;
      z-index: 1;
      background: transparent;
      border: 1px solid grey;
      padding: 0.5rem;
    }

    .ellipse-green {
      position: absolute;
      z-index: 0;
      width: 100rem;
      left: 0;
      top: 0;
    }
    .ellipse-blue {
      position: absolute;
      z-index: 0;
      width: 150rem;
      right: 0;
      bottom: 0;
    }
  }

  &-catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ellipse-green {
      position: absolute;
      z-index: 0;
      width: 100rem;
      left: 0;
      top: 0;
    }
    .ellipse-blue {
      position: absolute;
      width: 150rem;
      z-index: 0;
      right: 0;
      bottom: 0;
    }

    h1 {
      color: #505d68;
      font-size: 3rem;
      padding: 2rem 0;
    }

    .container {
      max-width: 100vw;
      padding: 0 10%;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      align-items: center;
      justify-content: center;
      .gallery {
        height: 26rem;
        width: 26rem;
        background-color: #8db3d9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        .checkmark {
          position: absolute;
          top: 1rem;
          right: 1rem;
          width: 3rem;
          height: 3rem;
          border-radius: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background-color: #cee7ff;
        }
        a {
          img {
            height: 12rem;
          }
        }
        .name {
          background-color: #629bd3;
          color: #fff;
          text-align: center;
          padding: 1rem 1rem;
        }
        .price-btn-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 1rem;
          .price {
            color: #f7f7f7;
            font-size: 2rem;
            margin-bottom: -1rem;
            margin-right: 1rem;
          }
          button {
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }

  &-compare {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ellipse-green {
      position: absolute;
      z-index: 0;
      width: 100rem;
      left: 0;
      top: 0;
    }
    .ellipse-blue {
      position: absolute;
      width: 150rem;
      z-index: 0;
      right: 0;
      bottom: 0rem;
    }
  }
}
