.login-wrapper {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right top, #74e7de, #74bdc2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .glass-create {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        min-height: 80vh;
        width: 60%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 2rem;
        z-index: 2;
        backdrop-filter: blur(2rem);
        display: flex;
    }
}
